__pycache__
db.sqlite3
*.swp
# diskcache output
cache.db
data
stats.jsonl
djscholar/src/static
scripts/hitstats/*.tsv
scripts/hitstats/main
trawler/trawler
trawler/cdx/cdx
trawler/spn/spn
scholstats/out.html
go.work.sum
